<h2>Restaurants</h2>
<%# <form id="live-search-form" method="get" action="<%= eateries_path %>
  <%# <input id="big-search-box" name="q" type="text"/>
</form>
<div id="live-search-results"></div> %> 

<% @eateries.each do |eatery| %> 
    <div>
        <%= link_to(eatery.name_neighborhood, eatery_path(eatery))%>
    </div>
<% end %> 
